body {
    background-color: rgb(250, 205, 0);
}

.logo-container {
    text-align: center;
}

#logo {
    /* I want the height and width to be calculated dynamically */
    height: 250px; 
    width: 400px;
    display: inline-block;
    margin: 10px;
}

.game-start {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}


.block-container {
    height: calc(100% / 3);
    text-align: center;
}

.block {
    width: calc(100% / 9);
    display: inline-block;
    margin: 0px 10px 10px 0px;
}

#instructions-bar {
    font-family: 'Press Start 2P', cursive;
    color: rgb(250, 205, 0);
    font-size: 15px;
    padding: 1% 20%;
}

#instructions-panel {
    display: none;
    background-color: blue;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}

#sign {
    position: fixed;
    height: 125px;
    bottom: 15px;
    right: -30px;
}

#grass {
    position: fixed;
    bottom: 0px;
    height: 25px;
    width: 100%;
}
