#instructions-bar {
    color: rgb(250, 205, 0);
    font-size: 15px;
    padding: 1% 20%;
}

#instructions-panel {
    display: none;
    background-color: blue;
    border-radius: 10px;
    padding: 10px 10px 0px 10px;
}

body {
    background-color: rgb(250, 205, 0);
    font-family: 'Press Start 2P', cursive;
}

.logo-container {
    text-align: center;

}

#logo {
    height: 25vh;
    width: 40vh;
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

.star {
    width: 15vh;
    float: left;
    position: relative;
    display: none;
    bottom: 10vh;
}

#easterEgg {
    display: inline-block;
    -webkit-animation: descend 6s; /* Safari 4.0 - 8.0 */
    animation: descend 6s;
}

@keyframes descend {
    0% {left: 0px; top:-70vh;}
    100% {left: 0px; top: -10vh;}
}

@-webkit-keyframes descend {
    0% {left: 0px; top:-70vh;}
    100% {left: 0px; top: -10vh;}
}

.hidden-numbers-container {
    text-align: center;
    font-size: 40px;
}

#hidden-number1, #hidden-number2, #hidden-number3, #hidden-number4 {
    z-index: -1;
    position: relative; /*necessary for the animation to work*/
    bottom: -100px;
    display: inline-block;
    width: calc(100%/8);
    -webkit-animation: slide .8s; /* Safari 4.0 - 8.0 */
    animation: slide .8s;
}

@keyframes slide {
    0%    {color: yellow; left:0px; bottom:-20px;}
    100%  {color: blue; left:0px; bottom:0px;}
    100%  {left:0px; bottom:15px;}
  }

@-webkit-keyframes slide {
    0%    {color: yellow; left:0px; bottom:-20px;}
    100%  {color: blue; left:0px; bottom:0px;}
    100%  {left:0px; bottom:15px;}
}


.block-container {
    height: calc(100% / 3);
    text-align: center;
    
}

.block {
    width: calc(100% / 9);
    display: inline-block;
    margin: 0px 40px 40px 0px;
}

.game-start {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}


#sign {
    position: fixed;
    height: 125px;
    bottom: 21px;
    right: 1%;
    z-index: 99;
}

#grass {
    position: fixed;
    bottom: -5px;
    height: 35px;
    width: 100%;
}

#mario {
    position: absolute;
    width: 125px;
    height: 125px;
    bottom: 30px;
}

/*Rainbow effect, adapted from https://gist.github.com/ajaegers/52a82619cc191f898ec4*/
@keyframes rainbow {
    from {
        filter: hue-rotate(0deg);
        -webkit-filter: hue-rotate(0deg);
        -moz-filter: hue-rotate(0deg);
        -o-filter: hue-rotate(0deg);
    }
    to {
        filter: hue-rotate(360deg);
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -o-filter: hue-rotate(360deg);
    }
}

.holographic {
    animation: rainbow 1s steps(36) infinite;
    -webkit-animation: rainbow 1s steps(36) infinite;
    -moz-animation: rainbow 1s steps(36) infinite;
    -o-animation: rainbow 1s steps(36) infinite;
}

